<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.community.board.BoardMapper">

    <insert id="insBoard">
        insert into t_board(icategory, title, ctnt, iuser) values (${icategory},#{title},#{ctnt},${iuser})
    </insert>

    <select id="selBoardList" resultType="BoardVo">
        select A.iboard, A.title, A.iuser, A.hits, A.rdt, B.nm as writernm, B.profileimg
        from t_board A
        left join t_user B
        on A.iuser = B.iuser
        where A.isdel = 0 and A.icategory = ${icategory}
        order by A.iboard desc
    </select>
    <select id="selPrevNext" resultType="BoardPrevNextVo">
        <![CDATA[
            SELECT (
                SELECT iboard FROM t_board
                WHERE isdel = 0
                AND icategory = ${icategory}
                AND iboard > ${iboard}
                ORDER BY iboard
                LIMIT 1
            ) as previboard,
            (
                SELECT iboard FROM t_board
                WHERE isdel = 0
                AND icategory = ${icategory}
                AND iboard < ${iboard}
                ORDER BY iboard DESC
                LIMIT 1
            ) as nextiboard
        ]]>
    </select>
    <select id="selBoardDetail" resultType="BoardVo">
        select A.iboard, A.icategory, A.title, A.ctnt, A.iuser, A.hits, A.rdt, A.lastip, B.nm as writernm, B.profileimg, C.nm as categorynm
        from t_board A
        left join t_user B
        on A.iuser = B.iuser
        left join t_board_category C
        on A.icategory = C.icategory
        where A.iboard = ${iboard}
        order by A.iboard desc
    </select>

    <update id="addHits">
        update t_board
        set hits = hits + 1,
            lastip = #{lastip}
        where iboard = ${iboard}
    </update>

    <update id="updBoard">
        update t_board
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="ctnt != null and ctnt != ''">
                ctnt = #{ctnt},
            </if>
            <if test="isdel == 1">
                isdel = 1
            </if>
        </set>
        where iboard = ${iboard}
        and iuser = ${iuser}

    </update>

</mapper>